/* .app-size{
  -webkit-box-shadow: 10px 10px 35px 0px rgba(90,90,91,1) !important;
  -moz-box-shadow: 10px 10px 35px 0px rgba(90,90,91,1);
  box-shadow: 10px 10px 35px 0px rgba(90,90,91,1);
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
}
*/
